[Unit]
Description=uWSGI instance for Fingerprint Data
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/srv/fpdata
Environment="PATH=/srv/fpdata/venv/bin"
ExecStart=/srv/fpdata/venv/bin/uwsgi --ini etc/uwsgi.ini

[Install]
WantedBy=multi-user.target
